{% extends "AppBundle::layout.html.twig" %}

{% block page_body %}

	<div class="container-fluid" id="inscription">
		<section id="inscription">
			<div class="row">
		  		<h1 id="bienvenue"> Bienvenue sur notre carnet d'adresse en ligne </h1>
		  		<hr id ="hrbienvenue" width="80%">	  	
		  	</div>
			<div class="row">
				<div class="col-md-6">
					<h1 class="bienvenue">Pas encore inscrit ?</h1>

					{% render(controller("UserBundle:User:add")) %}

				</div>
				<div class="col-md-6">
					<p class="connection">
						<em>Pourquoi s'inscrire ?</em>
						<br/>
						<br/>
						Parce qu'une fois inscrit, votre carnet d'adresse sera accessible à tout moment et depuis partout.
						<br/>
						<br/>
						Il sera également systématiquement à jour. Si un de vos contacts modifie ses informations, votre carnet d’adresse se modifiera automatiquement.
						<br/>
						<br/>
						Enfin, parce qu'il est totalement gratuit !
					</p>
				</div>
			</section>
		</div>
	</div>

	{% render(controller("FOSUserBundle:Security:login")) %}

{% endblock %}