{% extends "AppBundle::layout.html.twig" %}

{% block page_body %}

	<div class="container-fluid" id="inscription">
		<section id="inscription">
			<div class="row">
		  		<h1 id="bienvenue"> Bienvenue sur notre carnet d'adresse en ligne </h1>
		  		<hr id ="hrbienvenue" width="80%">	  	
		  	</div>
			<div class="row">
				<div class="col-md-6">
					<h1 class="bienvenue">Pas encore inscrit ?</h1>

					{% render(controller("UserBundle:User:add")) %}

				</div>
				<div class="col-md-6">
					<p class="connection">
						Si vous êtes déjà inscrit, vous pouvez vous connecter en cliquant sur le bouton "Connexion" en haut à droite de la page.
						<br/>
						<br/>
						Une fois connecté(e), vous aurez accés à vos informations ainsi qu'à vos contacts, que vous pourrez ensuite gérer.
					</p>
				</div>
			</section>
		</div>
	</div>

	{% render(controller("FOSUserBundle:Security:login")) %}

{% endblock %}